* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffff;
}

body {
    background-color: aqua;
}

/*nav bar*/

.navbar_header {
    height: 83px;
    width: 100%;
    /* background-color: rgb(22, 145, 104);*/
    padding: 0 60px;
    position: fixed;
    z-index: 55;

}

.navbar_header .navbar_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_header .navbar_nav>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar_header .navbar_nav a:hover {
    color: #B4B7B7;
}

.navbar_header .navbar_nav .login {
    border-right: solid #ffff;
}

.nav .logo .linkdenav {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navbar_header .navbar_nav a .navbar_logo {
    height: fit-content;
    width: fit-content;
}

.navbar_header .linkdenav {
    display: flex;
    gap: 40px;
}



/*fin de nav bar*/



/*inicio de home section*/

.home_section__presentation {
    width: 100%;
    height: 850px;
    position: relative;
    display: flex;
    overflow-x: hidden;

    justify-content: flex-start;
    align-items: center;
    background-color: grey;

    /* background-image: url('./img/home-background-flex-living.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}


/* background */

.home_section__presentation .imagenpresentacion {
    z-index: 1;
    position: absolute;
    height: 100%;

}


/* barra search */

/* /* .topnav {

    top: 25px;
    right: 25px;
    border: 1px solid white; 
}
 */

.lupa {
    width: fit-content;
    position: relative;
    z-index: 45;
    bottom: 300px;
    left: 950px;
  }


  .search {
    background-color: transparent;
    height: 100%;
    width: 300px;
    border: white solid 1px;
    border-radius: 20px;
    color: white;
    padding: 8px 24px;
  }

  .search::placeholder {
    color: white;
  }

  .imglupa {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-30px, -50%);
    cursor: pointer;
    z-index: 89;
    width: 20px;
    height: 20px;
  }

/* final barra search */


/* home section text luxury */

.home_section__presentation .home_section__container-text {
    z-index: 2;
    width: 600px;
    height: fit-content;
    padding: 100px 100px;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 400px;
}

.home_section__presentation .home_section__container-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #ffff;
}

.home_section__presentation .home_section__container-text p {
    font-family: var(--font-family-lato);
    font-size: 40px;
    color: #B4B7B7;
    font-weight: 400;
}

.home_section__presentation .home_section__container-text .viewall {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ffff;
    border-radius: 100px;
    padding: 15px;
}

/* inicio de redes sociales vertical */

.home_section__presentation .home_section_vertical_social {
    position: absolute;
    z-index: 999;
    left: 20px;
    bottom: 45px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.home_section_vertical_social .follow {

    font-family: sans-serif;
    font-weight: 800;
    color: #7E7E7E;
    line-height: 1px;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.home_section_vertical_social .line-vertical {
    height: 45px;
    border-left: 1px solid #7E7E7E;
    margin-top: 15px;
}

.home_section_vertical_social .social {
    height: 18px;
    width: 18px;
}


/* Fin de home section */

/* Inicio cuadro semifinal */

.primera_lineaimg {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 250px;

}

.primera_lineaimg .surfrow {
    height: 300px;
    width: 300px;
}

.primera_lineaimg .indigo {
    height: 300px;
    width: 300px;
}

.primera_lineaimg .rosewood {
    height: 300px;
    width: 300px;
}

.primera_lineaimg .astor {
    height: 300px;
    width: 300px;
}