* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffff;
}

body {
    margin-right: 0;
    overflow-x: hidden;
    /* margin-left: 40px; */
    width: 100%;
    font-family: playfair display;
}

/*nav bar*/

.navbar_header {
    height: 83px;
    width: 100%;
    /* background-color: rgb(22, 145, 104);*/
    padding: 0 60px;
    position: fixed;
    z-index: 55;
    border-bottom: 1px solid #ffff;

}

.navbar_header .navbar_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_header .navbar_nav>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar_header .navbar_nav a:hover {
    color: #B4B7B7;
}

.navbar_header .navbar_nav .login {
    border-right: solid #ffff;
}

.nav .logo .linkdenav {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navbar_header .navbar_nav a .navbar_logo {
    height: fit-content;
    width: fit-content;
}

.navbar_header .linkdenav {
    display: flex;
    gap: 40px;
}



/*fin de nav bar*/



/*inicio de home section*/

.home_section__presentation {
    width: 100%;
    height: 850px;
    position: relative;
    display: flex;
    overflow-x: hidden;

    justify-content: flex-start;
    align-items: center;
    background-color: grey;

    /* background-image: url('./img/home-background-flex-living.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}


/* background */

.home_section__presentation .imagenpresentacion {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-right: 0;
    filter: contrast(70%)
}


/* barra search */

/* /* .topnav {

    top: 25px;
    right: 25px;
    border: 1px solid white; 
}
 */

.lupa {
    width: fit-content;
    position: relative;
    z-index: 45;
    bottom: 300px;
    left: 950px;
}


.search {
    background-color: transparent;
    height: 100%;
    width: 300px;
    border: white solid 1px;
    border-radius: 100px;
    color: white;
    padding: 8px 24px;
}

.search::placeholder {
    color: white;
}

.imglupa {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-30px, -50%);
    cursor: pointer;
    z-index: 89;
    width: 20px;
    height: 20px;
}


/* view all properties */

.viewallproperties {
    display: flex;
    /* gap: 20px;
    margin-top: 50px; */
}

.viewall {
    font-weight: 600;
    border: solid 1px #ffff;
    background-color: transparent;
    padding: 80px 407px;
    border-radius: 100px;
    color: #ffff;
    cursor: pointer;
}



/* final barra search */


/* home section text luxury */

.home_section__presentation .home_section__container-text {
    z-index: 2;
    width: 600px;
    height: fit-content;
    padding: 100px 100px;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 400px;
}

.home_section__presentation .home_section__container-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #ffff;
}

.home_section__presentation .home_section__container-text p {
    font-family: var(--font-family-lato);
    font-size: 40px;
    color: #B4B7B7;
    font-weight: 400;
}

.home_section__presentation .home_section__container-text .viewall {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ffff;
    border-radius: 100px;
    padding: 15px;
}

/* inicio de redes sociales vertical */

.home_section__presentation .home_section_vertical_social {
    position: fixed;
    z-index: 999;
    left: 3px;
    bottom: 45px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;

}

.home_section_vertical_social .follow {

    font-family: sans-serif;
    font-weight: 800;
    color: #7E7E7E;
    line-height: 1px;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.home_section_vertical_social .line-vertical {
    height: 45px;
    border-left: 1px solid #7E7E7E;
    margin-top: 15px;
}

.home_section_vertical_social .social {
    height: 18px;
    width: 18px;
}


/* Fin de home section */



/* start first img table */



.primercontenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    margin-top: 50px;
    width: 100%;
    top: 1804px;


}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    gap: 10px;
    height: 407px;
}


.imagenes {
    grid-column: span 5;
    overflow: hidden;
    position: relative;
}

.imagenes:hover {
    cursor: pointer;
}

.imagenes:hover .sitio {
    cursor: pointer;
    background-color: white;
    color: black;
    height: 80px;
}

.imagenes:hover .castillo {
    display: inline-block;
}

.sitio .castillo {
    display: none;
    height: 15px;
    width: 15px;
}






.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    grid-column: span 2;
}

.sitio {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: 0.3s ease;
    line-height: 15px;
}

.imagenesp {
    font-size: 20px;

}

.imagenespdos {
    font-size: 30px;
}

/* .sitio:hover {
    background-color: white;
    color: black;
    height: 80px;

} */





/* contenedor textos de first img container*/

.contenedor-textos {
    padding: 0 50px;
}



.worldwide {
    color: #DF991B;
    font-size: 30px;
    text-align: right;
    display: block;
}

.properties {
    font-size: 60px;
    line-height: 50px;
    font-family: playfair display;
}

/* start botones */
.botones {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 15px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    font-weight: 600;
    border: solid 1px black;
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 20px;
}

.btn-primary:hover {
    cursor: pointer;
}

.prevnext {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.prevnext:hover {
    cursor: pointer;
}

.next {
    color: #DF991B;
}

.prev {
    color: #B4B7B7;
}

.prevnext img {
    height: 20px;
}


/* end botones */

/* fin de img first contenedor */


/* start second img container */

/* contenedor general */

.contenedor_dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    margin-top: 50px;
    width: 100%;
    top: 1804px;
    margin-left: 30px;
}

/* textos grandes*/

.textos-dos {
    padding: 0 50px;
}

.worldwide-dos {
    color: orange;
    font-size: 30px;
}

.rent {
    font-size: 50px;
    line-height: 50px;
    font-family: playfair display;
}

.parrafo {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
}



/* imagenes */

.contenedor-imagenes-dos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    gap: 10px;
    height: 407px;
}

.imagenes-dos {
    grid-column: span 5;
    overflow: hidden;
    position: relative;
}

.imagenes-dos:hover .sitiodos {
    cursor: pointer;
    background-color: white;
    color: black;
    height: 80px;


}

.contenedor-imagenes-dos:hover {
    cursor: pointer;
}

.sitiodos .castillo {
    display: none;
    height: 15px;
    width: 15px;
}

.imagenes-dos:hover .castillo {
    display: inline-block;
}

.sitiodos:hover {
    background-color: white;
    color: black;
    height: 80px;
}

.imagenes-dos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-dos {
    grid-column: span 2;
}

/* .imagenes-dos .par {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: 0.3s ease;
} */

.sitiodos {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: 0.3s ease;
    line-height: 15px;
}

.imagenespa {
    font-size: 20px;

}

.imagenespados {
    font-size: 30px;
}

/* .sitiodos:hover {
    background-color: white;
    color: black;
    height: 80px;

} */


/* End segundo cuadro */


/* título tercer cuadro */

.tercer-titulo {
    width: 100%;
    top: 2694px;
    margin: 50px;
    text-align: center;
}

.tercer-luxury {
    font-size: 40px;
    color: #DF991B;
    align-self: center;
    text-align: center;
}

.tercer-titulo-developments {
    font-size: 80px;
    color: black;
    align-self: center;
    text-align: center;
    font-family: playfair display;
}


/* end tercer titulo */

/* start tercer contenedor de imagenes */

.contenedorimg {
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    margin: 70px;
    gap: 14px;
    align-self: center;
    overflow: hidden;
    margin-left: 60px;

}



.imagenestres {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.imagenestres img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}


.imagenestres:hover {
    cursor: pointer;
}

/* .imagenestres .sitiotres {
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 80;
    top: 500px;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: 0.3s ease;
    height: 50px;
    background-color: bisque;

} */

.sitiotres {
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #ffff;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    margin: 0;
    transition: 0.3s ease;
    line-height: 15px;
}

.sitiotres:hover {
    background-color: white;
    color: black;
    height: 100px;
}

.pais {
    font-size: 20px;

}

.titulo {
    font-size: 30px;
}

/* end tercer cuadro */

/* start cuarto cuadro */



.container-cuarto {
    display: grid;
    grid-template-columns: 60% 40%;
    /*  gap: px; */
    place-items: center;
    margin-top: 50px;
    width: 100%;
    top: 1804px;
    height: 780px;


}

.contenedor-imagenescuatro {
    display: grid;
    overflow-x: hidden;
    height: 780px;
    margin-left: 70px;
    align-content: center;
}


.imagencuatro {
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 100%;
    object-fit: cover;
    overflow-y: hidden;
    overflow: hidden;


}


/* contenedor textos de cuarto img container*/

.contenedor-textoscuatro {
    padding: 0 50px;
    height: 780px;
    width: 100%;
}

.lineadorada {
    top: 110px;
}

.services {
    color: #DF991B;
    font-size: 30px;
    text-align: right;
    /* padding: 0 0 0 0px; */
    line-height: 50px;

}

.propertiescuatro {
    font-size: 40px;
    line-height: 50px;
    align-content: center;

}

.parrafolargo {
    text-align: center;
}

/* start botones */
.botones {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 15px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    font-weight: 600;
    border: solid 1px black;
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 20px;
}

.btn-primary:hover {
    cursor: pointer;
}

.prevnext {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.prevnext:hover {
    cursor: pointer;
}

.next {
    color: #DF991B;
}

.prev {
    color: #B4B7B7;
}

.prevnext img {
    height: 20px;
}


/* end botones */

/* inicio cuadro plomo */

.footer {
    background-color: #000000;
    height: 647px;
    width: 100%;
    position: relative;
}

.cuadroplomo {
    background-color: #26282B;
    position: absolute;
    height: 310px;
    width: 80%;

}

/* cuadro texto izquierda */
.join {
    color: #DF991B;
    font-size: 20px;

}

.unlock {
    color: #ffff;
    font-size: 50px;

}
