* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffff;
}

body {
    background-color: aqua;
}

/*nav bar*/

.navbar_header {
    height: 83px;
    width: 100%;
    /* background-color: rgb(22, 145, 104);*/
    padding: 0 60px;
    position: fixed;
    z-index: 55;

}

.navbar_header .navbar_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_header .navbar_nav>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar_header .navbar_nav a:hover {
    color: #B4B7B7;
}

.navbar_header .navbar_nav .login {
    border-right: solid #ffff;
}

.nav .logo .linkdenav {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navbar_header .navbar_nav a .navbar_logo {
    height: fit-content;
    width: fit-content;
}

.navbar_header .linkdenav {
    display: flex;
    gap: 40px;
}



/*fin de nav bar*/



/*inicio de imagen grande*/

.home_section__presentation {
    width: 100%;
    height: 850px;
    position: relative;
    display: flex;
    overflow-x: hidden;

    justify-content: flex-start;
    align-items: center;
    background-color: grey;

    /* background-image: url('./img/home-background-flex-living.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home_section__presentation .imagenpresentacion {
    z-index: 1;
    position: absolute;
    height: 100%;

}


    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
      }
      .topnav > input {
        
        display: block;
        color: black;
        background-color: red;
        position: relative;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        z-index: 999;
        border-radius: 100px;
      }

.home_section__presentation .home_section__container-text {
    z-index: 2;
    width: 600px;
    height: fit-content;
    padding: 100px 100px;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 400px;
}

.home_section__presentation .home_section__container-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #ffff;
}

.home_section__presentation .home_section__container-text p {
    font-family: var(--font-family-lato);
    font-size: 40px;
    color: #B4B7B7;
    font-weight: 400;
}

.home_section__presentation .home_section__container-text .viewall {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ffff;
    border-radius: 100px;
    padding: 15px;
}

/* Fin de home section */

/* Inicio cuadro semifinal */

.primera_lineaimg {
    display: grid
    grid-template-columns: 25% 25% 25% 25%;
}