@media (max-width: 999px) {
    * {
        overflow-x: hidden;
    }
}


@media (max-width: 864px) {

    /* home section */
    /* .home_section_presentation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .login {
        display: none;
    }

    .logogen {
        display: none;
    }

    .logopeque {
        display: inline-block;
        z-index: 5;
    }

    .iconomenu {
        display: inline-block;
        z-index: 5;
    }



    /* home section */

    .home_section__presentation {
        background-size: cover;
        font-size: -30%;
    }

    .luxury {
        font-size: ;
    }

    .home_section__container-text h1 {
        font-size: 30%;
    }

    .home_section_vertical_social {
        display: none;
    }

    .lupa {
        position: absolute;
        align-self: center;

    }

    /* first container titulos */
    .worldwide {
        font-size: 20px;

    }

    .properties {
        font-size: 30px;
    }

    .imagenesp{
        font-size: 10px;
    
    }

    .imagenespdos{
        font-size: 15px;
    }


    /* contenedor dos textos */

    .worldwide-dos {
        font-size: 20px;

    }

    .rent {
        font-size: 30px;
    }

    .parrafo {
        font-size: 10px;
    }

    /* titulo tercer cuadro */

    .tercer-luxury {
        font-size: 30px;
    }

    .tercer-titulo.developments{
        font-size: 40px;
    }


    .imagenespa{
        font-size: 10px;
    }

    .imagenespados{
        font-size: 15px;
    }

    /* tercer cuadro */

    .pais{
        font-size: 10px;
    }

    .titulo{
        font-size: 15px;
    }


/* cuarto cuadro */



.services{
    font-size: 15px;
    line-height: 20px;
}

.propertiescuatro{
    font-size: 20px;
    line-height: 20px;
}

.parrafolargo{
    font-size: 15px;
}




}