@media (max-width: 900px) {
    * {
        overflow-x: hidden;
    }

    .home_section_vertical_social{
        display: none;
    }
}


@media (max-width: 864px) {

  

    .login {
        display: none;
    }

    .logogen {
        display: none;
    }

    .logopeque {
        display: inline-block;
        z-index: 5;
    }

    .iconomenu {
        display: inline-block;
        z-index: 5;
    }



    /* home section */

    .home_section__presentation {
        background-size: cover;
        font-size: -30%;
    }

    .luxury {
        font-size: ;
    }

    .home_section__container-text h1 {
        font-size: 30%;
    }

    .home_section_vertical_social {
     display: none !important;
    }

    .lupa {
        position: absolute;
        align-self: center;

    }

    /* first container titulos */

    .worldwide {
        font-size: 20px;

    }

    .properties {
        font-size: 30px;
    }

    .imagenesp{
        font-size: 10px;
    
    }

    .imagenespdos{
        font-size: 15px;
    }
    
    /* prev next */
    .prevnext{
        font-size: 15px;
        height: 10px;
    }

    .btn-primary{
        font-weight: 40px;
        padding: 10px 40px;

    }

    /* contenedor dos textos */

    .worldwide-dos {
        font-size: 20px;

    }

    .rent {
        font-size: 30px;
    }
    
    .parrafo {
        font-size: 10px;
    }

    /* titulo tercer cuadro */

    .tercer-luxury {
        font-size: 25px;
    }

    .tercer-titulo-developments{
        font-size: 40px;
    }


    .imagenespa{
        font-size: 10px;
    }

    .imagenespados{
        font-size: 15px;
    }

    /* tercer cuadro */

    .pais{
        font-size: 10px;
    }

    .titulo{
        font-size: 15px;
    }


/* cuarto cuadro */



.services{
    font-size: 15px;
    line-height: 20px;
}

.propertiescuatro{
    font-size: 20px;
    line-height: 20px;
}

.parrafolargo{
    font-size: 15px;
}

/* footer */

.footer{
    height: 400px;
}

.suscribe{
    display: grid;
    /* grid-template-rows: 1fr 1fr !important; */
    height: 50px;
    z-index: 55;
    top: -10%;
    width: 60%;
    padding: 16px 25px;
    gap: 10%;

}


.join{
    font-size: 10px;
}

.unlock{
    font-size: 25px;
}

/* inicio cuadro negro */

.cuadro_negro{
    line-height: 40px;
    z-index: 1;
}

.logouniq{
width: 10px;
}

.textofooter{
    font-size: 13px;
}

.contacto{
    font-size: 15px ;
}

.logouniq{
    width: 100px;
}

/* fin cuadro negro */

/* copyright */

.bar{
    bottom: 3%;
}

.copyright{
    margin-bottom: 10px;
    bottom: 5px;
}
}